@model List<MVCBD.Db.rol>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class ="text-center">
    <h1 class="display-4">Roles</h1>
    <ul>
        @foreach(MVCBD.Db.rol item in Model)
        {
            <li>@item.idRol /@item.nombreRol></li>
        }
    </ul>
</div>